<%- include('partials/header'); -%>

<form id="fp-form">
  <h2>Forgot Password</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="sign-in-buttons">
    <button type="submit">Submit</button>
  </div>
</form>

<%- include('partials/footer'); -%>
<script>
  const form = document.getElementById('fp-form');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    try {
      const res = await fetch('/existingEmailVerification', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ email: form.email.value }),
      });

      const data = await res.json();

      if (data) {
        window.location.href = '/verification-2';
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>
