<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="" />
  </div>
  <div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>Stop wrecking us Ben</h3>
    <a href="/smoothies" class="btn">View Recipes</a>
  </div>
</header>

<%- include('partials/footer'); -%>

<script>
  window.onload = async () => {
    const verifyResponse = await fetch('/verify');

    if (!verifyResponse.ok) {
      localStorage.removeItem('LOGIN');

      if (document.getElementById('loginB').classList.contains('hidden')) {
        document.getElementById('loginB').classList.remove('hidden');
      }
      if (document.getElementById('signupB').classList.contains('hidden')) {
        document.getElementById('signupB').classList.remove('hidden');
      }

      if (!document.getElementById('logoutB').classList.contains('hidden')) {
        document.getElementById('logoutB').classList.add('hidden');
      }
    }
  };
</script>
