<%- include('partials/header'); -%>

<form action="/login" method="POST">
  <h2>Sign in</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button>Sign in</button>
</form>

<div class="center">
  <a href="/auth/google" id="googleSignInBtn" class="google-signin-btn">
    <span class="google-icon-wrapper">
      <img
        class="google-icon"
        src="https://cdn2.hubspot.net/hubfs/53/image8-2.jpg"
        alt="Google icon" />
    </span>
    <span class="btn-text">Sign in with Google</span>
  </a>
</div>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    const email = form.email.value;
    const password = form.password.value;

    // reset errors
    emailError.textContent = '';
    passwordError.textContent = '';

    try {
      const res = await fetch('/login', {
        method: 'POST',
        body: JSON.stringify({ email, password }),
        headers: { 'Content-Type': 'application/json' },
      });

      const data = await res.json();
      console.log(data);

      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        localStorage.setItem('LOGIN', 'SUCCESS');
        location.assign('/');
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>
