<%- include('partials/header'); -%>

<form action="/signup" method="POST">
  <h2>Sign up</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div id="emailError"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div id="passwordError"></div>
  <button>Sign up</button>
</form>

<div class="center">
  <a href="/auth/google" id="googleSignInBtn" class="google-signin-btn">
    <span class="google-icon-wrapper">
      <img
        class="google-icon"
        src="https://cdn2.hubspot.net/hubfs/53/image8-2.jpg"
        alt="Google icon" />
    </span>
    <span class="btn-text">Sign up with Google</span>
  </a>
</div>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  const emailErrorDiv = document.getElementById('emailError');
  const passwordErrorDiv = document.getElementById('passwordError');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch('/signup', {
        method: 'POST',
        body: JSON.stringify({ email, password }),
        headers: { 'Content-Type': 'application/json' },
      });

      const data = await res.json();

      if (data.errors && Object.keys(data.errors).length > 0) {
        if (data.errors.email) {
          emailErrorDiv.innerText = data.errors.email;
        }

        if (data.errors.password) {
          passwordErrorDiv.innerText = data.errors.password;
        }
      } else {
        window.location.href = '/emailVerification';
      }
    } catch (err) {}
  });
</script>
